---
/**
 * Обёртка для текстовой колонки (уменьшенная ширина)
 */
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const classes = ['ids__text-width', className].filter(Boolean).join(' ');
---

<div class={classes}>
  <slot />
</div>
